tbody {
  border: solid 3px #000000;
  /* padding: 2px 3px; */
  text-align: center;
}
td {
  border-top: solid 2px #000000;
  border-left: solid 2px #000000;
  border-right: solid 2px #000000;
  border-bottom: solid 2px #000000;
}

tr {
  border-top: solid 2px #000000;
  border-left: solid 2px #000000;
  border-right: solid 2px #000000;
  border-bottom: solid 2px #000000;
}

th {
  border-top: solid 2px #000000;
  border-left: solid 2px #000000;
  border-right: solid 2px #000000;
  border-bottom: solid 2px #000000;
}
