@import url('https://fonts.googleapis.com/css?family=Dosis:200');
@import url('https://fonts.googleapis.com/css?family=Aladin');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');


#welcome {
  font-family: 'Aladin', cursive;
  color: #faf4dc;
  text-align: center;
  font-size: 70px;
  text-shadow: 4px 4px #000000;
}
.earth{
  position:absolute;
  top: 25%;
  bottom: 0;
  left: 0;
  right: 1%;
  margin: auto;
  width: 415px;
  height: 415px;
  background-image: url("../imgs/1557e23b11100d2.jpg");
  border-radius: 50%;
  background-size: cover;
  box-shadow: 1px 1px 1px 1px #faf4dc Inset, 1px 1px 1px 1px #faf4dc;
  animation: spin 20s linear alternate infinite;

  }

  @keyframes spin {
    100%{background-position: 100%}
  }

  #click {
    font-family: 'Aladin', cursive;
    color: #BC8F8F;
    text-align: center;
    font-size: 40px;
    text-shadow: 4px 4px 4px #000000;
    margin-top: 100%;
    position: relative;
    text-decoration: none;
    /* margin-right: 2%; */
  }

body{
  background-image: url("../imgs/hands-holding-coffee-beans_23-2147671424.jpg");
  background-size: 2000px 1000px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: absolute;
  margin-left: auto;
  margin-right: auto;
}
